/* Global Settings */
body {
    margin: 0px;
}

a {
    text-decoration: none;    
    color: #ccc;
    padding: 5px;
}
ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0px;
}

p {
    margin-top: 0px;
}

/* Helper Classes */
/* Float properties */
.left {
    float: left;
}
.right {
    float: right;
}
.clear:after {
    content: "";
    clear: both;
    display: block;
}

/* Width 100% for images */
.w-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.logo{
    width: 10%;
    margin-top: 20px;
    margin-left: 50px;
}
.search{
    width: 60%;
    padding-top: 20px;
    margin-left: 20px;
}
.header{
    background-color: #333545;
}
.mini-nav{
    margin: 20px;
}
.mini-nav ul li{
    display: inline-block;
    position: relative;
    vertical-align: top;
    padding: 10px;
}
.mini-nav ul li::after{
    content: "";
    border: 4px solid #ffffff;
    border-color: #ffffff transparent transparent;
    position: absolute;
    /* bottom: 5px; */
    top: 15px;
    margin: 0px;
    padding: 0px;
}
.mini-nav ul li:nth-child(3){
    border: 1px solid #ffffff;
    padding: 5px;
    border-radius: 5px;
    color: #ffffff;
}
.mini-nav ul li:last-child::after, .mini-nav ul li:nth-child(3)::after {
    border: transparent;
}
.mini-nav ul li a{
    /* color: #00f0ff; */
    color: #ccc;
    padding: 5px;
}

.mini-nav ul li a:hover{
    color: #ffffff;
}
.sub-header{
    background-color: #1f2533;
    display: inline-block;
    width: 100%;
}
.sec-sub-nav{

}
/* Generic CSS */
#header {
    background-color: #333545;
}
.search-ico{
    color: grey;
    background-color: #ffffff;
    margin-right: 0px;
    padding: 10px;
    border-radius: 5px;
}
#search{
    width: 500px;
    height: 35px;
    border-radius: 5px;
    border: 0px;
    margin-left: 0px;
}

#main-navigation {
    width: 70%;
}
.sec-sub-nav{
    border-right: 0px;
}
#main-navigation ul li, .sec-sub-nav ul li{
    display: inline-block;
    padding: 10px;
}

a:hover{
    color: #ffffff;
}
/* #main {

}

#footer {

} */

/* Page Specific CSS */